<div class="card p-4 mb-5">
  <div class="mb-3">
    Druh
    <ng-select
      [items]="species"
      (change)="changeItems($event, 'species')"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      bindValue="id"
      placeholder="Všechny"
      [(ngModel)]="selectedSpecies"
    >
    </ng-select>
  </div>
  <div class="mb-3">
    Náročnost
    <ng-select
      [items]="difficulty"
      (change)="changeItems($event, 'difficulty')"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="enum"
      bindValue="id"
      placeholder="Všechny"
      [(ngModel)]="selectedLevel"
    >
    </ng-select>
  </div>

  <div class="mb-3">
    Množství světla
    <ng-select
      [items]="light"
      (change)="changeItems($event, 'light')"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="enum"
      bindValue="id"
      placeholder="Všechny"
      [(ngModel)]="selectedLight"
    >
    </ng-select>
  </div>

  <app-filter-checkbox
    [attribute]="'petFriendly'"
    [name]="'Není jedovatá'"
  ></app-filter-checkbox>
  {{ checkbox }}
  <app-filter-checkbox
    [attribute]="'hydroponics'"
    [name]="'Vhodná do hydroponie'"
  ></app-filter-checkbox>
  <app-filter-checkbox
    [attribute]="'purifyAir'"
    [name]="'Čistí vzduch'"
  ></app-filter-checkbox>
  <a (click)="onReset()" class="text-primary w-40 mb-3 ms-auto" role="button"
    >Resetovat filtry</a
  >
</div>
