<div class="card p-4 mb-5">
  <div class="mb-3">
    Druh
    <ng-select
      [items]="species"
      (change)="changeItems($event)"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      bindValue="id"
      placeholder="Select"
      [(ngModel)]="selectedPlants">
    </ng-select>
    <!-- {{ selectedPlants | json }} -->
  </div>
      <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="petFriendly" (change)="onCheckboxChange($event)" [checked]="checked">
        <label class="form-check-label" for="petFriendly">
          <div>Není jedovatá</div>
        </label>
      </div>
      <a (click)="onReset()" class="text-primary w-40 mb-3 ms-auto" role="button">Resetovat filtry</a>

</div>
