<div class="card p-4">
  <div class="mb-3">
    Druh
    <ng-select
      [items]="species"
      (add)="addItem($event)"
      (remove)="removeItem($event.value)"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      bindValue="id"
      placeholder="Select"
      [(ngModel)]="selectedPlants">
    </ng-select>
 {{ selectedPlantIds }}
    <!-- <ng-select [items]="people$ | async"
           bindLabel="species"
           [addTag]="true"
           [multiple]="true"
           [hideSelected]="true"
           [trackByFn]="trackByFn"
           [minTermLength]="2"
           [loading]="peopleLoading"
           typeToSearchText="Please enter 2 or more characters"
           [typeahead]="peopleInput$"
           [(ngModel)]="selectedPlants">
</ng-select> -->


<div class="form-check">
 <input class="form-check-input" type="checkbox" value="" id="petFriendly" (change)="onCheckboxChange($event)" [checked]="checked">
  <label class="form-check-label" for="petFriendly">
    <div>Není jedovatá</div>
  </label>
</div>
<div class="form-check">
 <input class="form-check-input" type="checkbox" value="" id="hydroponics" (change)="onCheckboxChange($event)" [checked]="checked">
  <label class="form-check-label" for="hydroponics">
    <div>Vhodná do hydroponie</div>
  </label>
</div>


  </div>
</div>
