<div class="card p-4 mb-5">
  <div class="mb-3">
    Druh
    <ng-select
      [items]="species"
      (change)="changeItems($event, 'species')"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      bindValue="id"
      placeholder="Všechny"
      [(ngModel)]="selectedSpecies"
    >
    </ng-select>
  </div>
  <div class="mb-3">
    Náročnost
    <ng-select
      [items]="difficulty"
      (change)="changeItems($event, 'difficulty')"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="enum"
      bindValue="id"
      placeholder="Všechny"
      [(ngModel)]="selectedLevel"
    >
    </ng-select>
  </div>

  <div class="mb-3">
    Množství světla
    <ng-select
      [items]="light"
      (change)="changeItems($event, 'light')"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="enum"
      bindValue="id"
      placeholder="Všechny"
      [(ngModel)]="selectedLight"
    >
    </ng-select>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      id="petFriendly"
      (change)="onCheckboxChange($event, checkPoisonous, 'petFriendly')"
      [checked]="checkPoisonous"
    />
    <label class="form-check-label" for="petFriendly">
      <div>Není jedovatá</div>
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      id="hydroponics"
      (change)="onCheckboxChange($event, checkHydro, 'hydroponics')"
      [checked]="checkHydro"
    />
    <label class="form-check-label" for="hydroponics">
      <div>Vhodná do hydroponie</div>
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      id="purifyAir"
      (change)="onCheckboxChange($event, checkAir, 'purifyAir')"
      [checked]="checkAir"
    />
    <label class="form-check-label" for="purifyAir">
      <div>Čistí vzduch</div>
    </label>
  </div>
  <a (click)="onReset()" class="text-primary w-40 mb-3 ms-auto" role="button"
    >Resetovat filtry</a
  >
</div>
