<div class="my-4 d-flex align-items-center flex-wrap gap-3">
  <a
    *ngIf="name !== ''"
    [routerLink]="['/plant']"
    [queryParams]="{ difficulty: plant?.difficulty }"
    class="card flex-row gap-2 p-2"
  >
    <span>{{ name }}</span>
  </a>

  <!-- <div class="card p-2">
    <fa-icon [icon]="faSun"></fa-icon><span>{{ plant?.light }}</span>
  </div> -->
  <a
    *ngIf="plant?.purifyAir"
    [routerLink]="['/plant']"
    [queryParams]="{ purifyAir: true }"
    class="card flex-row gap-2 p-2"
  >
    <span>Čistí&nbsp;vzduch</span>
  </a>
  <a
    *ngIf="plant?.petFriendly"
    [routerLink]="['/plant']"
    [queryParams]="{ petFriendly: true }"
    class="card flex-row gap-2 p-2"
  >
    <span>Nejedovatá</span>
  </a>
</div>
