h2 {
  font-size: 2rem;
}

.hero {
  margin-top: -5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1487017931017-0e0d9e02bb0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.glass {
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 2rem;
  max-width: 42rem;
  margin: auto;
}
