<section class="hero text-center text-white">
  <div class="glass">
  <h1>claim</h1>
  <p class="px-3">In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper at, cursus in sem. </p>
  <button class="btn btn-success px-5">button</button>
</div>
</section>

<!-- first 6 plants of all -->
<section class="plants">
  <h2 class="my-4">Title 2</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let plant of sliced">
      <app-card [plant]="plant" class="card"></app-card>
    </div>
  </div>
</section>
