<section class="hero text-center text-white">
  <div class="glass">
    <h1>Claim</h1>
    <p class="px-3 fs-5">lorem ipsum</p>
    <a [routerLink]="['/plant']" class="btn btn-success px-5 mt-2"
      >Všechny rostliny</a
    >
  </div>
</section>

<!-- first 6 plants of all -->
<section class="container container--spacer">
  <h2 class="my-4">Novinky</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let plant of sliced">
      <app-card [plant]="plant" class="card"></app-card>
    </div>
  </div>
</section>
