.img__plant {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.list__item {
  border-bottom: 1px solid #8f9b97;
}

.card {
  max-width: 500px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
