<div class="row">
  <div class="col">
    <img [src]="plant?.image" alt="" class="rounded img__plant" />
    <div class="card p-5 my-5">
      <div class="py-1 d-flex gap-2">
        <h2>Náročnost:</h2><span>{{ plant?.difficulty }}</span>
      </div>
      <div class="py-1 d-flex gap-2">
        <h2>Světlo:</h2><span>{{ plant?.light }}</span>
      </div>
      <div class="py-1 d-flex gap-2">
        <h2>Čistí vzduch:</h2><span>{{ plant?.purifyAir }}</span>
      </div>
      <div *ngIf="plant?.petFriendly!" class="py-1 d-flex gap-2">
        <h2>Vhodná ke zvířatům: </h2><span>{{ plant?.petFriendly}}</span>
      </div>
    </div>
  </div>
  <div class="col">
    <h1>{{ plant?.name }}</h1>
    <p>{{ plant?.desctiption }}</p>

    <div class="py-3 list__item">
      <h2>Zálivka</h2><span>{{ plant?.water }}</span>
    </div>
    <div class="py-3 list__item">
      <h2>Vlhkost</h2><span>{{ plant?.dew }}</span>
    </div>
    <div class="py-3 list__item">
      <h2>Hydroponie</h2><span>{{ plant?.hydroponics }}</span>
    </div>
    <div class="py-3 list__item">
      <h2>Množení</h2><span>{{ plant?.propagation }}</span>
    </div>
    <div *ngIf="plant?.commonProblems!" class="py-3 list__item">
      <h2>Časté problémy</h2><span>{{ plant?.commonProblems }}</span>
    </div>
  </div>
</div>
